.navigation {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.navigation__logo {
    margin-right: 100px;
}

@media (max-width: 1420px) {
    .navigation__logo {
        margin-right: 40px;
    }
}

@media (max-width: 992px) {
    .navigation__logo {
        margin-right: 20px;
    }
}

/*
контент меню*/

.navigation__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navigation__content {
        justify-content: space-around;
    }

    .navigation__left,
    .navigation__right {
        width: 50%;
    }
}

/*деление на 2 части*/
.navigation__left,
.navigation__right {
    display: flex;
    align-items: center;
}

.navigation__right {
    transform: translate(-10px, 0);

}

@media (max-width: 768px) {
    .navigation__right {
        justify-content: space-between;
        width: 100%;
    }
}

.navigation__icons {
    display: flex;
}

.menu__list {
    display: flex;
    padding: 0;
}

.menu {
    height: 100px;
    display: flex;
    align-items: center;
}

.menu a:hover {
    border-bottom: 1px solid #a2692f;
}

.menu__items {
    margin-right: 32px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

@media (max-width: 1310px) {
    .menu__items {
        font-size: 12px;
        margin-right: 25px;
    }
}

@media (max-width: 992px) {
    .menu__items {
        margin-right: 15px;
    }
}

.menu__link {
    color: #1b130e;
}

.menu__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    min-width: 150px;
}

.menu__sublist .menu__subitems {
    margin: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.menu__sublist .menu__subitems .menu__sublink {
    color: #1b130e;
}

/*телефон и кнопка*/
.navigation__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation__phone h5 {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #1b130e;
}

@media (max-width: 1420px) {
    .navigation__phone h5 {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .navigation__phone h5 {
        font-size: 16px;
    }
}

@media (max-width: 830px) {
    .navigation__phone h5 {
        font-size: 12px;
    }
}

/*телефон и кнопка*/

@media (max-width: 768px) {
    .navigation__phone h5 {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .navigation__phone h5 {
        font-size: 16px;
    }
}

.phone__btn {
    width: 160px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #1b130e;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone__btn img {
    padding: 3px 5px 0 0;
}

@media (max-width: 1420px) {
    .phone__btn {
        width: 140px;
        height: 32px;
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .phone__btn {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width: 830px) {
    .phone__btn {
        width: 95px;
        font-size: 10px;

    }
}

/*медиа для мобильных*/
@media (max-width: 768px) {
    .phone__btn {
        width: 160px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .phone__btn {
        width: 140px;
        font-size: 12px;
    }
}

.menu__arrow {
    display: none;
}

.navigation__liked,
.navigation__bracket {
    margin-left: 32px;
}

@media (max-width: 992px) {
    .navigation__liked,
    .navigation__bracket {
        margin-left: 20px;
    }
}

@media (max-width: 830px) {
    .navigation__liked,
    .navigation__bracket {
        margin-left: 12px;
    }
}

@media (max-width: 768px) {
    .navigation__liked,
    .navigation__bracket {
        margin-left: 20px;
    }
}

@media (max-width: 350px) {
    .navigation__liked,
    .navigation__bracket {
        margin-left: 12px;
    }
}

.navigation__liked .counter,
.navigation__bracket .counter {
    transform: translate(16px, -30px);
}

/*меню*/
body._pc .menu__list > li:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body._touch .menu__list > li {
    display: flex;
    align-items: center;
}


body._touch .menu__link {
}

body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin-left: 7px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #1b130e;
}

body._touch .menu__list > li._active .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
}

@media (min-width: 767px) {
    .menu__sublist {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.4s ease 0s;
    }

    .menu__list > li {
        padding: 10px 0;
    }
}

