.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background: #CBC2BA;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer__item {
    text-align: left;
    color: #1B130E;
}
.footer__item  ul{
    margin: 0;
    padding: 0;
}

.footer__item h3{
    font-size: 20px;
    font-weight: bold;
}
.footer__item h3:after{
    content: "";
    display: block;
    width: 70px ;
    border: 1px solid #1B130E;
    margin-top: 5px;
}

.footer__item  li {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
}
.footer__item  img{
    margin-right: 7px;
}

@media (max-width: 978px) {
    .footer__item{
        width: 50%;
        height: 300px ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer{
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer__item h3:after{
        margin: 0 auto;
    }
    .footer__item  li{
        text-align: center;
    }
}
@media (max-width: 768px) {
    .footer__item{
        width: 100%;
        height: 100% ;
        display: flex;
        justify-content: center;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
}